{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>            
            <td>ide_cargos</td>
            <td>nombre</td>
            <td>estado</td> 
            <td>valor_cargo</td>           
            
        </tr>
    </thead>
            
    <tbody>
        {% if object_list %}
        {% for cargos in object_list  %}
        <tr>
            <td>{{ cargos.ide_cargos }}</td>
            <td>{{ cargos.nombre }}</td>
            <td>{{ cargos.estado }}</td>  
            <td>{{ cargos.valor_cargo }}</td>           
            <td> 
                <a  class="btn btn-primary"  href="{% url 'cargo_editar' cargos.ide_cargos %}">
                Editar</a>
            </td>

        {% endfor  %}
        {% else  %}
        <h1>No hay registro de cargos creados</h1>
        {% endif %}
        <td> 
            <a  class="btn btn-primary"  href="{% url 'cargo_crear' %}">
            Nuevo registro</a>
        </td>

    <tbody>
</table>

 
<div class="dataTables_paginate paging_simple_numbers"
    id="datatable-buttons_paginate">
    <ul class="pagination">
        {%if page_obj.has_previous%}
        <li class="paginate_button page-item previous" id="datatable-buttons_previous">
            <a href="?page={{page_obj.previous_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
        </li>
        {%endif%}
        {%if page_obj.has_next%}
        <li class="paginate_button page-item next" id="datatable-buttons_next">
            <a href="?page={{page_obj.next_page_number}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
        </li>  
        {%endif%} 
</div>

{% endblock %}

